/ObligatorioCartasPoker 2/ObligatorioCartasPoker./build/
/ObligatorioCartasPoker 2/ObligatorioCartasPoker./nbproject/private/
/ObligatorioCartasPoker2/ObligatorioCartasPoker/build/
/ObligatorioCartasPoker2/ObligatorioCartasPoker/nbproject/private/
